<head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZmol45j-lzSvQU6fga3nLPZX_W5Sl86E&libraries=places&language=en"></script>
</head>
<div class="container">
  <div class="jumbotron mt-5">
    <div class="col-sm-8 mx-auto">
      <h1 class="text-center">WELCOME</h1>
    </div>
</div>
<div class="container">
    <div class="form-group">
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div>
   
    <agm-map [streetViewControl]="false" [styles]="mapStyles" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker 
      [animation]="an"
      [latitude]="latitude" 
      [longitude]="longitude" 
      [markerDraggable]="false"
      [agmFitBounds]="true"
      (dragEnd)="markerDragEnd($event)">

      <agm-info-window [disableAutoPan]="true">
         You are <strong>here!</strong>
        </agm-info-window>
      </agm-marker> 
      
    </agm-map>

    <!--<h5>Address: {{address}}</h5>
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div>-->
  </div>
</div>
