agm-map {
    height: 50vh;
    width: 100%;
  }

/* Remove clutter tos*/
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

body {
    margin: 0;
    padding: 0;
}

.input {
    position: relative;
    margin: 0.5% auto;
    text-align: center;
    display: block;
    border: 1px solid silver;
    border-radius: 15px;

    font-family: Roboto;
    font-size: 15px;
    font-weight: lighter;

    padding: 0.5rem;
    z-index: 100;
    width: 30%;
}

.modal-dialog{
    margin: 20% auto;
}

.modal-content{
    text-align: center;

}

img {
    max-width: 100%;
    max-height: 100%;
}
