<nav class="header">
  <div>
      <img src="./assets/navLogo.png" style="width:300px;height:90px;">
  </div>
    <ul class="nav-links">
      <li>
        <a *ngIf="!auth.isLoggedIn()"  routerLink="/">Welcome</a>
      </li>
      <li *ngIf="auth.isLoggedIn()">
        <a  routerLink="/home">Home</a>
      </li>
      <li *ngIf="!auth.isLoggedIn()" >
        <a  routerLink="/login">Login</a>
      </li>
      <li *ngIf="!auth.isLoggedIn()" >
        <a  routerLink="/register">Register</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" >
        <a  routerLink="/profile">{{ auth.getUserDetails()?.first_name }}</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" >
        <a  routerLink="" (click)="auth.logout()">Logout</a>
      </li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
      <div class="line4"></div>
      <div class="line5"></div>
    </div>
</nav>

<script src="app.js"></script>

<router-outlet></router-outlet>
