.box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
}

body {
    overflow: scroll;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1rem;
    padding-top: 0;
}

img{
    display: block;
    margin: auto;
    padding: 3rem;
}

.box h5{
    color: black;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.25rem;
}

.box a,p{
    color: black;
    text-align: center;
    letter-spacing: 0.25rem;
    text-decoration: underline;
    font-weight: 500;
}

.box a:hover{
    color: white;
}


.box input[type = "email"],.box input[type = "password"],.box input[type = "text"]{
    border: 0;
    background: none;
    display: block;
    margin: 2px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 40vw;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    background-color: #9D5C63;
}

.box input[type = "email"]:focus,.box input[type = "password"]:focus, .box input[type = "text"]:focus{
    width: 500px;
}

.box button[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box button[type = "submit"]:hover{
    background: #9D5C63;
    color: white;

}

label {
    color: black;
    display: block;
    text-align: center;
}