<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
</head>
<body>
    <div class="test">
        <div class="container_item landing-page-container">
            <div class="content-wrapper">
                <p class="coords">53.2707° N / 9.0568° W</p>
                <div class="ellipse-container">
                    <h2 class="greeting">Discoverus</h2>
                    <div class="ellipse ellipse_outer--thin">
                        <div class="ellipse ellipse_orbit"></div>
                    </div>
                    
                    <div class="ellipse ellipse_outer--thick"></div>
                    <h1>TAKE CONTROL</h1>
                    <button class="btn1" (click)="toRegister();" type="submit" value="GetStarted">Get Started</button>
                </div>
            </div>
        </div>   
    </div>
</body>