.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.box h5{
    color: black;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.25rem;
}

.box a,p{
    color: black;
    text-align: center;
    letter-spacing: 0.25rem;
    text-decoration: underline;
    font-weight: 500;
}

.box a:hover{
    color: white;
}

.box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1rem;
}

.box input[type = "email"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 10px;
    width: 40vw;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    background-color: #09383E;
}

.box input[type = "email"]:focus,.box input[type = "password"]:focus{
    width: 500px;
}

.box button[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box button[type = "submit"]:hover{
    background: #09383E;
    color: white;

}

@media (max-width: 900px) {
    .body{
        display:flex;
        flex-wrap: wrap;
    }
    img, .box{
        width: 50%;
        margin-left: auto;
    }

}