<body class="body">
    <div>
        <img src="../assets/logoBlack.png" width="250px"/>
            <form class="box" (submit)="login()">     
            <h1>Login</h1>
            <input type="email" class="form-control" name="email" placeholder="Enter Email" [(ngModel)]="credentials.email">
            <input type="password" class="form-control" name="password" placeholder="Enter Password" [(ngModel)]="credentials.password">
            <button type="submit" value="Login">Login</button>

            <h5>Not signed up?</h5> 
            <button type="submit" routerLink="/register">Register </button>
        </form>     
    </div>
</body>